
# Dependencies
/frontend/react-app/node_modules
/frontend/react-app/.pnp
/frontend/react-app/.pnp.js

# Testing
/frontend/react-app/coverage

# Production
/frontend/react-app/build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
